<div id="wrapper">
        <header id="header">
          <div class="logo">
            <i class="fa fa-street-view logo-icon" aria-hidden="true"></i>
          </div>
          <div class="logo-line"></div>
          <div class="content">
            <div id="intro">
                    <h4>Anthony H Velazquez</h4>
                    <p>I'm Anthony, a design-minded software engineer focused on building beautiful interfaces & experiences along with efficient and scalable code.</p>
            </div>
          </div>
          <div class="logo-line"></div>
          <nav style="padding-right: 5px">
            <ul>
              <li><a [routerLink]="['']">Intro</a></li>
              <li><a [routerLink]="['/projects']">Projects</a></li>
              <li><a [routerLink]="['/about']">About</a></li>
              <li><a [routerLink]="['/contact']">Contact</a></li>
            </ul>
          </nav>
        </header>
        </div>
        <div id="background"></div>

<!-- https://www.quora.com/What-does-a-good-junior-backend-developer-portfolio-website-look-like -->