
<div id="wrapper">
    <header id="header">
      <div class="logo">
        <i class="fa fa-street-view logo-icon" aria-hidden="true"></i>
      </div>
      <div class="logo-line"></div>
      <div class="content">
        <div id="intro">
            <div class="about-container">
                <h4>Background</h4>
                <p style="font-size: 12px">
                  As a developer, I strive to create applications that are practical and easy to use with a sleek design. My goal is to always build applications that are scalable and efficient while providing engaging, user experiences.
                </p>
                <p style="font-size: 12px">
                  On the personal side, I'm a senior attending William Paterson University expecting to graduate in May 2018. I love cooking and traveling so if im not in front of a computer you can find me going around trying different foods and trying to create it to be my own.
                </p>
                <hr>
                <div class="row">
                  <div class="col-md-4">
                    <h4>Languages</h4>
                    <ul>
                      <li>C++</li>
                      <li>Python</li>
                      <li>Javascript</li>
                      <li>HTML</li>
                      <li>CSS/Sass</li>
                      <li>Java</li>
                      <li>Typescript</li>
                    </ul>
                  </div>
                  <div class="col-md-4">
                    <h4>Frameworks</h4>
                    <ul>
                      <li>Django</li>
                      <li>Angular</li>
                      <li>Node</li>
                    </ul>
                  </div>
                  <div class="col-md-4">
                    <h4>Tools</h4>
                    <ul>
                      <li>C++</li>
                    </ul>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-md-12">
                    <h4>Experience</h4>
                    <ul>
                      <li>
                        <h5 style="margin: 0; padding: 0;">Enthsquare Inc.<span class="pull-right">April 16 - Present</span></h5>
                        <p>Software Engineer</p>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
        </div>
      </div>
      <div class="logo-line"></div>
      <nav style="padding-right: 5px">
        <ul>
          <li><a [routerLink]="['']">Intro</a></li>
          <li><a [routerLink]="['/projects']">Projects</a></li>
          <li><a [routerLink]="['/about']">About</a></li>
          <li><a [routerLink]="['/contact']">Contact</a></li>
        </ul>
      </nav>
    </header>
    </div>
    <div id="background"></div>