<!-- https://brittanychiang.com/v2/ -->
<nav id="dot-nav">
    <ul>
        <li class="dot-container">
          <a href="#intro-section" data-number="0" class="is-selected">
              <span style="margin-right: 10px">Intro</span><span><i class="fa fa-dot-circle-o" aria-hidden="true"></i></span>
          </a>
        </li>
        <li class="dot-container">
          <a href="#about-section" data-number="0" class="is-selected">
              <span style="margin-right: 10px">About</span><span><i class="fa fa-dot-circle-o" aria-hidden="true"></i></span>
          </a>
        </li>
        <li class="dot-container">
          <a href="#service-section" data-number="0" class="is-selected">
              <span style="margin-right: 10px">What I Do</span><span><i class="fa fa-dot-circle-o" aria-hidden="true"></i></span>
          </a>
        </li>
        <li class="dot-container">
          <a href="#skill-section" data-number="0" class="is-selected">
              <span style="margin-right: 10px">Skills</span><span><i class="fa fa-dot-circle-o" aria-hidden="true"></i></span>
          </a>
        </li>
        <li class="dot-container">
          <a href="#project-section" data-number="0" class="is-selected">
              <span style="margin-right: 10px">Projects</span><span><i class="fa fa-dot-circle-o" aria-hidden="true"></i></span>
          </a>
        </li>
        <li class="dot-container">
            <a href="#contact-section" data-number="0" class="is-selected">
                <span style="margin-right: 10px">Contact</span><span><i class="fa fa-dot-circle-o" aria-hidden="true"></i></span>
            </a>
          </li>
    </ul>
</nav>
<div class="body-content">
    <section class="section" id="intro-section">
        <div class="bg"></div>
        <div class="intro-wrapper">
            <div class="intro-body">
                <div class="intro-content">
                    <h1 class="heading">Anthony H Velazquez</h1>
                    <p class="intro-text">Front and Back end Software Engineer</p>
                    <p class="intro-text">Game Developer</p>
                    <p class="intro-text">Student</p>
                </div>
            </div>
        </div>
    </section>
    <section class="section" id="about-section">
        <div class="about-wrapper">
            <h1 class="section-heading">Hi, I'm Anthony.</h1>
            <h3 class="sub-heading"><b>I'm a design and detail oriented software engineer passionate about bringing user friendly deisgn with efficient code.</b></h3>
            <div class="divider"></div>
            <div class="about-inner-wrapper">
                <img class="headshot" src="../assets/placeholder.png" alt="Headshot">
                <div class="about-text-wrapper">
                    <p class="about-text">I am a fourth year student at William Paterson University in New Jersey studying Computer Science. I have experience developing web applications, on both the front and back ends. I have also developed iOS applications along as game programming. I strive to create software that not only functions efficiently but is easy and simple to use as well.</p>
                    <p class="about-text">I love learning new and better ways to improve my coding to become more efficient and cleaner while at the same time delivering a perfect user experience. I consider work to always be an ongoing learning environment where you always have an opportunity to improve and share what you learn with others. No matter what, the end goal is always to create programs and applications with elegant design and code efficiency.</p>
                    <p class="about-text">When I'm not at a computer, I'm probably traveling, cooking and trying new foods.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="section reset-bg" id="service-section">
      <div class="bg"></div>
      <div class="service-wrapper">
          <h1 class="section-heading">What I Do</h1>
          <div class="divider"></div>
          <div class="service-inner-wrapper">
            <div class="flex-container-col">
              <div class="flex-item flex-container-row ">
                <div class="flex-item service-bar" style="border-bottom: 1px;border-style: solid;border-color: white;">
                  <h3 style="margin-top: 2%;margin-bottom: 5%;"><i class="fa fa-desktop service-icon-spacing" aria-hidden="true"></i> Web Development</h3>
                  <p class="about-text">With HTML, CSS, JavaScript and other frameworks and build tools such as Sass, I can develop appealing websites and apps while maintaining a modular and efficient code base.</p>
                </div>
                <div class="flex-item service-bar" style="border-left: 1px;border-bottom: 1px;border-style: solid;border-color: white;">
                  <h3 style="margin-top: 2%;margin-bottom: 5%;"><i class="fa fa-desktop service-icon-spacing" aria-hidden="true"></i> Game Programming</h3>
                  <p class="about-text">From Allegro and SDL to Unreal and Unity, I can create smooth and comprehensive gameplay with clean, game state driven programming. I strive to create gameplay that engages the user and makes him want to keep playing over and over again.</p>
                </div>
              </div>
              <div class="flex-item flex-container-row ">
                <div class="flex-item service-bar">
                  <h3 style="margin-top: 2%;margin-bottom: 5%;"><i class="fa fa-desktop service-icon-spacing" aria-hidden="true"></i> iOS Development</h3>
                  <p class="about-text">With Unity and Xcode I strive to develop iOS applications that fit the client's needs along with giving a fun and simple to use user experience.</p>
                </div>
                <div class="flex-item service-bar" style="border-left: 1px;border-style: solid;border-color: white;">
                  <h3 style="margin-top: 2%;margin-bottom: 5%;"><i class="fa fa-desktop service-icon-spacing" aria-hidden="true"></i> Application Programming</h3>
                  <p class="about-text">Last but not least with C++, Qt Creator and Visual Studio I can create stunning applications for Windows while keeping cross compatibility and efficiency in mind for Linux as well.</p>
                </div>
              </div>
            </div>
          </div>
      </div>
    </section>
    <section class="section" id="skill-section">
        <div class="skill-wrapper">
            <h1 class="section-heading">Skills</h1>
            <div class="divider"></div>
            <div class="skill-inner-wrapper">
                <div class="flex-container-row">
                    <div class="flex-item">
                        <div class="skill-text-wrapper">
                            <h3><i class="fa fa-keyboard-o service-icon-spacing" aria-hidden="true"></i> Development</h3>
                            <div class="flex-container-col">
                              <div class="flex-item flex-container-row">
                                  <div class="flex-item language">C++</div>
                                  <div class="flex-item language">Python</div>
                                  <div class="flex-item language">Java</div>
                              </div>
                              <div class="flex-item flex-container-row">
                                  <div class="flex-item language">HTML/CSS</div>
                                  <div class="flex-item language">Django</div>
                                  <div class="flex-item language">Javascript</div>
                              </div>
                              <div class="flex-item flex-container-row">
                                  <div class="flex-item language">Angular</div>
                                  <div class="flex-item language">Node.js</div>
                                  <div class="flex-item language">Swift</div>
                              </div>
                            </div>
                        </div>
                    </div>
                    <div class="flex-item">
                        <div class="flex-container-row">
                            <div class="flex-item">
                              <div class="skill-text-wrapper">
                                  <h3><i class="fa fa-wrench service-icon-spacing" aria-hidden="true"></i> Certifications</h3>
                                <ul class="tool-list">
                                    <li class="tool"><i class="fa fa-check tool-check-spacing" aria-hidden="true"></i> Google SEO Certification</li>
                                </ul>
                              </div>
                            </div>
                        </div>
                        <div class="flex-container-row" style="margin-top: 10%;">
                            <div class="flex-item">
                              <div class="skill-text-wrapper">
                                  <h3><i class="fa fa-wrench service-icon-spacing" aria-hidden="true"></i> Tools</h3>
                                <ul class="tool-list">
                                    <li class="tool"><i class="fa fa-check tool-check-spacing" aria-hidden="true"></i> Git + Github</li>
                                    <li class="tool"><i class="fa fa-check tool-check-spacing" aria-hidden="true"></i> Command Line</li>
                                    <li class="tool"><i class="fa fa-check tool-check-spacing" aria-hidden="true"></i> Visual Studio/Code</li>
                                </ul>
                              </div>
                            </div>
                            <div class="flex-item">
                              <div class="skill-text-wrapper">
                                  <h3><i class="fa fa-book service-icon-spacing" aria-hidden="true"></i> Knowledge</h3>
                                <ul class="tool-list">
                                    <li class="tool"><i class="fa fa-check tool-check-spacing" aria-hidden="true"></i> Debugging</li>
                                    <li class="tool"><i class="fa fa-check tool-check-spacing" aria-hidden="true"></i> Reverse Engineering</li>
                                    <li class="tool"><i class="fa fa-check tool-check-spacing" aria-hidden="true"></i> 3D Modeling</li>
                                </ul>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section reset-bg" id="project-section">
        <div class="bg"></div>
        <div class="project-wrapper">
            <h1 class="section-heading">Some Projects</h1>
            <div class="divider"></div>
            <div class="project-inner-wrapper" style="padding-left: 5%;">
                <div class="flex-container-col">
                  <div class="flex-item">
                      <h3 class="" style="margin-bottom: 1%;"><i class="fa fa-desktop" aria-hidden="true" style="margin-right: 3%;" ></i> Smart Hub</h3>
                      <p class="project-text">Smart Hub is a web app that turns your Raspberry Pi or any other device into an Smart AI System. The application allows you to view your emails, do searches for cryptocurrency prices, set alarms and reminder, etc. In other works Smart Hub is Google Home/Alexa for any device and with added features.</p>
                      <div class="flex-container-row">
                        <div class="flex-item used-item">Django</div>
                        <div class="flex-item used-item">Python</div>
                      </div>
                  </div>
                </div>
            </div>
        </div>
    </section>
    <a class="big-btn" href="https://www.github.com/anthonyvelazquez/" target="_blank">
      <span class="btn-link-text"><i class="fa fa-github" aria-hidden="true"></i> View More Projects...</span>
    </a>
    <section class="section reset-bg" id="contact-section">
        <div class="bg"></div>
        <div class="contact-wrapper">
            <div class="center">
                <h1 class="section-heading">Contact Me</h1>
                <div class="divider"></div>
                <p>Have any questions?</p>
            </div>
            <div class="contact-inner-wrapper">
                <form id="contact-form" method="POST" action="https://formspree.io/anthonyhvelazquez@gmail.com">
                        <label for="name" class="contact-label">Name</label>
                        <input type="text" name="name" class="contact-input" id="name">
                        <label for="email" class="contact-label">Email</label>
                        <input type="text" name="email" class="contact-input" id="email">
                        <label for="subject" class="contact-label">Subject</label>
                        <input type="text" name="subject" class="contact-input" id="subject">
                        <label for="message" class="contact-label">Message</label>
                        <input type="text" name="message" class="contact-input" id="message">
                </form>
            </div>
        </div>
    </section>
    <section class="section footer" id="footer-section">
            <div class="footer-wrapper">
                <div class="center">
                    <ul class="social">
                        <li class="social-btn"><a href="mailto:anthonyhvelazquez@gmail.com" target="_blank" class="social-a" title="Gmail"><img width="48" width="48" src="https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/gmail.svg" /></a></li>
                        <li class="social-btn"><a href="https://instagram.com/aanthonyz" target="_blank" class="social-a"><img width="48" width="48" src="https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/instagram.svg" /></a></li>
                        <li class="social-btn"><a href="https://https://twitter.com/aanthonyz2" target="_blank" class="social-a"><img width="48" width="48" src="https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/twitter.svg" /></a></li>
                        <li class="social-btn"><a href="https://www.codepen.io/anthonyhvelazquez/" target="_blank" class="social-a"><img width="48" width="48" src="https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/codepen.svg" /></a></li>
                        <li class="social-btn"><a href="https://www.github.com/anthonyvelazquez/" target="_blank" class="social-a" title="Github"><img width="48" width="48" src="https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/github.svg" /></a></li>
                        <li class="social-btn"><a href="https://www.linkedin.com/in/anthonyhvelazquez/" target="_blank" class="social-a" title="Linkedin"><img width="48" width="48" src="https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/linkedin.svg" /></a></li>
                    </ul>
                    <p class="footer-name">	&copy; Anthony Velazquez 2018</p>
                </div>
            </div>
        </section>
</div>

<!-- https://simpleicons.org/ -->