<!-- https://brittanychiang.com/v2/ -->
<nav id="dot-nav">
    <ul>
        <li class="dot-container"><a href="#intro-section" data-number="0" class="is-selected">...</a></li>
    </ul>
</nav>
<div class="body-content">
    <section class="section" id="intro-section">
        <div class="bg"></div>
        <div class="intro-wrapper">
            <div class="intro-body">
                <div class="intro-content">
                    <h1 class="heading">Anthony H Velazquez</h1>
                </div>
            </div>
        </div>
    </section>
    <section class="section" id="about-section">
        <div class="about-wrapper">
            <h1 class="section-heading">Hi, I'm Anthony.</h1>
            <h3 class="sub-heading"><b>I'm a design and detail oriented software engineer passionate about bringing user friendly deisgn with efficient code.</b></h3>
            <div class="divider"></div>
            <div class="about-inner-wrapper">
                <img class="headshot" src="../assets/placeholder.png" alt="Headshot">
                <div class="about-text-wrapper">
                    <p class="about-text">I am a fourth year student at William Paterson University in New Jersey studying Computer Science. I have experience developing web applications, on both the front and back ends. I have also developed iOS applications along as game programming. I strive to create software that not only functions efficiently but is easy and simple to use as well.</p>
                    <p class="about-text">I love learning new and better ways to improve my coding to become more efficient and cleaner while at the same time delivering a perfect user experience. I consider work to always be an ongoing learning environment where you always have an opportunity to improve and share what you learn with others. No matter what, the end goal is always to create programs and applications with elegant design and code efficiency.</p>
                    <p class="about-text">When I'm not at a computer, I'm probably traveling, cooking and trying new foods.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="section reset-bg" id="service-section">
      <div class="bg"></div>
      <div class="service-wrapper">
          <h1 class="section-heading">What I Do</h1>
          <div class="divider"></div>
          <div class="about-inner-wrapper" style="padding-left: 5%;">
            <div class="row">
              <div class="col-md-6">
                <h3 class="" style="margin-bottom: 5%;"><i class="fa fa-desktop" aria-hidden="true"></i> Web Development</h3>
                <p class="about-text">Hello</p>
              </div>
              <div class="col-md-6">
                <h3 class="" style="margin-bottom: 5%;"><i class="fa fa-desktop" aria-hidden="true"></i> Game Programming</h3>
                <p class="about-text">Hello</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <h3 class="" style="margin-bottom: 5%;"><i class="fa fa-desktop" aria-hidden="true"></i> iOS Development</h3>
                <p class="about-text">Hello</p>
              </div>
              <div class="col-md-6">
                <h3 class="" style="margin-bottom: 5%;"><i class="fa fa-desktop" aria-hidden="true"></i> Application Programming</h3>
                <p class="about-text">Hello</p>
              </div>
            </div>
          </div>
      </div>
    </section>
    <section class="section" id="skill-section">
        <div class="skill-wrapper">
            <h1 class="section-heading">Skills</h1>
            <div class="divider"></div>
            <div class="skill-inner-wrapper">
                <div class="row">
                    <div class="col-md-4">
                        <div class="skill-text-wrapper">
                            <p class="skill-text">Hello</p>
                            <p class="skill-text">Test</p>
                            <p class="skill-text">Chicken</p>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-12">
                                    <div class="skill-text-wrapper">
                                            <p class="skill-text">Hello</p>
                                            <p class="skill-text">Test</p>
                                            <p class="skill-text">Chicken</p>
                                        </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                    <div class="skill-text-wrapper">
                                            <p class="skill-text">Hello</p>
                                            <p class="skill-text">Test</p>
                                            <p class="skill-text">Chicken</p>
                                        </div>
                            </div>
                            <div class="col-md-6">
                                    <div class="skill-text-wrapper">
                                            <p class="skill-text">Hello</p>
                                            <p class="skill-text">Test</p>
                                            <p class="skill-text">Chicken</p>
                                        </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section reset-bg" id="service-section">
        <div class="bg"></div>
        <div class="service-wrapper">
            <h1 class="section-heading">Some Projects</h1>
            <div class="divider"></div>
            <div class="about-inner-wrapper" style="padding-left: 5%;">
                <div class="row">
                <div class="col-md-6">
                    <h3 class="" style="margin-bottom: 5%;"><i class="fa fa-desktop" aria-hidden="true"></i> I like Chicken.</h3>
                    <p class="about-text">Hello</p>
                </div>
                <div class="col-md-6">
                    <h3 class="" style="margin-bottom: 5%;"><i class="fa fa-desktop" aria-hidden="true"></i> I like Chicken.</h3>
                    <p class="about-text">Hello</p>
                </div>
                </div>
                <div class="row">
                <div class="col-md-6">
                    <h3 class="" style="margin-bottom: 5%;"><i class="fa fa-desktop" aria-hidden="true"></i> I like Chicken.</h3>
                    <p class="about-text">Hello</p>
                </div>
                <div class="col-md-6">
                    <h3 class="" style="margin-bottom: 5%;"><i class="fa fa-desktop" aria-hidden="true"></i> I like Chicken.</h3>
                    <p class="about-text">Hello</p>
                </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section reset-bg" id="contact-section">
        <div class="bg"></div>
        <div class="contact-wrapper">
            <div class="center">
                <h1 class="section-heading">Contact Me</h1>
                <div class="divider"></div>
                <p>Have a chicken you want to talk about?</p>
            </div>
            <div class="contact-inner-wrapper">
                <form id="contact-form" method="POST" action="https://formspree.io/anthonyhvelazquez@gmail.com">
                        <label for="name" class="contact-label">Name</label>
                        <input type="text" name="name" class="contact-input" id="name">
                        <label for="email" class="contact-label">Email</label>
                        <input type="text" name="email" class="contact-input" id="email">
                        <label for="subject" class="contact-label">Subject</label>
                        <input type="text" name="subject" class="contact-input" id="subject">
                        <label for="message" class="contact-label">Message</label>
                        <input type="text" name="message" class="contact-input" id="message">
                </form>
            </div>
        </div>
    </section>
    <section class="section footer" id="footer-section">
            <div class="footer-wrapper">
                <div class="center">
                    <h1 class="section-heading">footer Me</h1>
                    <div class="divider"></div>
                    <p>Have a chicken you want to talk about?</p>
                </div>
                <div class="footer-inner-wrapper">
                    <form id="footer-form" action="">
                            <label for="name" class="footer-label">Name</label>
                            <input type="text" name="name" class="footer-input" id="name" required="">
                            <label for="name" class="footer-label">Name</label>
                            <input type="text" name="name" class="footer-input" id="name" required="">
                            <label for="name" class="footer-label">Name</label>
                            <input type="text" name="name" class="footer-input" id="name" required="">
                            <label for="name" class="footer-label">Name</label>
                            <input type="text" name="name" class="footer-input" id="name" required="">
                    </form>
                </div>
            </div>
        </section>
</div>