<!-- https://brittanychiang.com/v2/ -->
<nav id="dot-nav">
    <ul>
        <li class="dot-container"><a href="#intro-section" data-number="0" class="is-selected">...</a></li>
    </ul>
</nav>
<div class="body-content">
    <section class="section" id="intro-section">
        <div class="bg"></div>
        <div class="intro-wrapper">
            <div class="intro-body">
                <div class="intro-content">
                    <h1 class="heading">Anthony H Velazquez</h1>
                </div>
            </div>
        </div>
    </section>
    <section class="section" id="about-section">
        <div class="about-wrapper">
            <h1 class="section-heading">Hi, I'm Anthony.</h1>
            <h3 class="sub-heading">I like Chicken.</h3>
            <div class="divider"></div>
            <div class="about-inner-wrapper">
                <img class="headshot" src="../assets/placeholder.png" alt="Headshot">
                <div class="about-text-wrapper">
                    <p class="about-text">Hello</p>
                    <p class="about-text">Test</p>
                    <p class="about-text">Chicken</p>
                </div>
            </div>
        </div>
    </section>
    <section class="section" id="about-section">
            <div class="sdf"></div>
        </section>
</div>